VITE_N8N_TEST_API_URL=
VITE_N8N_API_URL=

VITE_OPENAI_REALTIME_URL=
VITE_OPENAI_REALTIME_URL2=
`
VITE_GEMINI_REALTIME_URL=
VITE_GEMINI_REALTIME_URL2=

VITE_DOMAIN1=
VITE_DOMAIN2=

VITE_SOCKET_URL=

VITE_PDFDOWNLOAD_URL=

VITE_SUPABASE_URL=

VITE_SUPABASE_ANON_KEY=